<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://account-server-learn.documents.azure.com:443/" />
        <add key="accountKey" value="7NMyBj2kPvYqLho7Jk9vOjMtqL4EJqEByghvghBPFQGQvYTthAnKGPdlz0CftbrsGIxC8TCbNG2bUeeOFEUJlw==" />
      </appSettings>
</configuration>